{% block content%}
{% include "navbar.html" %}
{% endblock %}

{% load bootstrap3 %}
{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  {{form.media}}

{% block styles %} 
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/edit-profile.css' %}">

{% endblock %}

</head>
<body>
  <div class="container-fluid mt-2 m-sm-3" style="background-color: aquamarine; padding-top: 8px; border-radius: 35px;">
    <div class="row"  style="justify-content: center;">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="{% url 'new_business'%}" method="post"  enctype="multipart/form-data" style="width: 600px;">

              {% csrf_token%}
              {% bootstrap_form form %}
              <div class="form-group text-center">
                <input type="submit" class="btn btn-primary sign-up-button" value="Post">
              </div>
              <input type="hidden" name="next" value="{{next}}">
            </form>
    </div>
  </div>
   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}
</div>
</div>
  
</body>

</html>