{% extends 'base.html'%}

{%block content%}


<div class="container col-md-6" style="background-color: aquamarine; padding: auto; border-radius: 20px;">
    <div class="row"  style="justify-content: center; padding-top: 2px; margin-top: auto;">
        
{% for user in users %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
<h1> {{user.name}}</h1>
<h6> ID:{{user.id}}</h6>
<p><i> Email:{{user.email}}</i></p>
<p> Neighbourhood:{{user.neighbourhood}}</p>
        </div>
    </div>
</div>

{% endfor%}
    </div>
</div>

{%endblock%}