{% extends 'base.html'%}

{% block content %}

<div class="container ">
    <h2>Sign up</h2>
    <form method="post" >
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>

    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor%}

    
        <div class="d-flex justify-content-center links">
            Already have an account? <a href="{% url 'login'%}" class="ml-2">Login</a>
        </div>

  

</div>
{%endblock%}
